{% extends 'owner/owner_base.html' %}
{% load static %}

{% block title %}
update_supplier
{% endblock %}

{% block content %}

        <div class="container-fluid">
            <div class="card shado-sm border-0 rounded-4">
                <div class="card-header bg-white">

                    <h4> <i class="bi bi-truck me-2 text-success d-flex"></i>Update Supplier</h4>
                </div>

                <div class="card-body">
                    <form method="POST" >
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Company Name
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Company Name" name="company_name"
                                autofocus onfocus="this.select()" value="{{ supplier.company_name }}">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Contact Person
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Contact Person Name" name="contact_person"
                                autofocus onfocus="this.select()" value="{{ supplier.contact_person }}">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Mobile Number
                                </label>
                                <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobile_no"
                                autofocus onfocus="this.select()" value="{{supplier.mobile_no }}">
                            </div>

                             <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Email
                                </label>
                                <input type="email" class="form-control" placeholder="Enter Email Address" name="email"
                                autofocus onfocus="this.select()" value="{{ supplier.email }}">
                            </div>

                             <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    GST Number
                                </label>
                                <input type="text" class="form-control" placeholder="Enter GST Number" name="gst_no"
                                autofocus onfocus="this.select()" value="{{ supplier.gst_no }}">
                            </div>

                            <div class="col-md-12 mb-3">
                                <label class="form-label">
                                    Address
                                </label>
                                <textarea class="form-control" rows="3" placeholder="Enter Supplier Address" name="address"
                                autofocus onfocus="this.select()">{{ supplier.address }}</textarea>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    City
                                </label>
                                <input type="text" class="form-control" placeholder="Enter City" name="city"
                                autofocus onfocus="this.select()" value="{{ supplier.city }}">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Status
                                </label>
                                <select class="form-select" name="status">
                                    <option value="">Select Status</option>
                                    <option value="Active" {% if supplier.status == "Active" %}selected{% endif %} >Active</option>
                                    <option value="Inactive" {% if supplier.status == "Inactive" %}selected{% endif %}>Inactive</option>
                                </select>
                            </div>

                                    <div class="mt-4">
                                <button type="submit" class="btn btn-success ">
                                     <i class="bi bi-arrow-clockwise me-2"></i>
                                    Update
                                </button>
                                <a href="{% url 'suppliers' %}" class="btn btn-secondary ms-2">
                                     <i class="bi bi-x-circle me-2"></i>
                                    Cancel
                                </a>
                            </div>
                         </div>
                    </form>

                </div>
            </div>
</div>

{% endblock %}